---
---

@import "{{ site.theme }}";

body {
  background-image: url("https://hsudml.github.io/simpleSteps/images/skillshopsBanner.png");
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-attachment: fixed;
}
